.heading {
    color:black;
    font-size: 40px;
    margin-left: 90px;
    position: absolute;
    top: 76px;

}
.dot {
   background-color: #8071D0;
   height: 10px;
   width: 10px;
   position: absolute;
   top: 184px;
   left: 290px;
}
 .image {
    width: 8%;
    margin-left: 30px;
    position: absolute;
    top: 30px;
}
.logo {
   position:  absolute;
   left: 480px;
   top: 150px;
   width: 50%;
   height: 70%;
}

.item1 {
    margin-left:280px;
    text-decoration-line: 5px;
    position:  absolute;
    color: #BEBEBE;
    top: 36px;
    left: 130px;
 }
 .item1:hover {
   text-decoration-line: underline;
   text-decoration-color: #8071D0;
   text-decoration-thickness: 3px;
   color: black;
 }
 .item2 {
    margin: 30px;
    position: absolute;
    top: 8px;
    left: 470px;
    color: #BEBEBE;
 }
 .item2:hover {
   text-decoration-line: underline;
   text-decoration-color: #8071D0;
   text-decoration-thickness: 3px;
   color: black;
 }

 .item3 {
    margin: 1px;
    position: absolute;
    left: 590px;
   top: 37px;
   color: #BEBEBE;
 }
 .item3:hover {
   text-decoration-line: underline;
   text-decoration-color: #8071D0;
   text-decoration-thickness: 3px;
   color: black;
 }

 .item4 {
   position: absolute;
   left: 670px;
   top: 38px;
   color:  #BEBEBE;
 }
 .item4:hover {
    text-decoration-line: underline;
      text-decoration-color: #8071D0;
      text-decoration-thickness: 3px;
      color: black;
}
   

 .text {
    margin-left: 90px;
    position: absolute;
    top: 200px;
    color: #555555;
    
 } 

 .button1 {
   background-color: #FFD8DB;
   border: none;
    border-radius: 18px;
    position: absolute;
    left: 1100px;
    padding: 12px 28px;
    top: 30px;
   display: inline-block;
   font-size: 16px;
   color: #A389CC;
   width: 90px;
   height: 19px;
 }
 .text2 {
   position: absolute;
   top: 12px;
 }
 .button2 {
   background-color: #5243C0;
   border: none;
   border-radius: 18px;
    position: absolute;
    left: 100px;
    top: 280px;
    padding: 12px 28px;
    display: inline-block;
    color: #ffffff;
    width: 90px;
    height: 19px;
 }
 .arrow {
    position:  absolute;
    top: 280px;
    left: 340px;
    width: 50px;
 }
 .arrow2 {
    position: absolute;
    top: 280px;
    left: 280px;
    width: 50px;
 }
 
 .first-box {
   background-color: #F2F3F4;
   padding: 10px;
   margin-left: 90px;
   border-radius: 15px;
   display: inline-block;
   width: 300px;
   height: 20px;
   position:  absolute;
   top: 400px;
 }
 .first-box:hover{
   box-shadow: rgba(99,99,99,0.2) 0px 2px 8px 0px;
   background-color: #ffffff;

 }
 .first-box-img {

    width:  22px;
    position: absolute;

 }
  .first-box-text {
    position: absolute;
    left: 46px;
    

  }
  .pink {
   width:  26px;
   margin-left: 28px;
   position:  absolute;
   left: 140px;
   margin-bottom: 2px;
    top: 7px;
   
  }
  .date1 {
   position: absolute;
   left:  210px;
   color: #BEBEBE;
  }
  .card1 {
   height: 10px;
   width: 20px;
   background-color: #FED7DA;
   border-radius: 10px;
   position: absolute;
   left:280px;
   top: 15px;
  }
  .second-box {
   background-color: #F2F3F4;
   padding: 10px;
   position: absolute;
    left: 90px;
   border-radius: 15px;
   display: inline-block;
   width: 302px;
   margin: 5px;
   height: 20px;
   position: absolute;
   top: 440px;
 }
 .second-box:hover {
   box-shadow: rgba(99,99,99,0.2) 0px 2px 8px 0px;
   background-color:#ffffff;
 }
 .second-box-img {
    margin-bottom: -10px;
    width:  22px;
    position:  absolute;

 } 
 .second-box-text {
   position: absolute;
   left: 46px;

 }
  .orange {
   margin-bottom: -10px;
   width:  25px;
   margin-left: 28px;
   position: absolute;
   left: 143px;
   top: 7px;
  }
  .date2 {
   margin: 8px;
   position: absolute;
   left: 205px;
   top: 2px;
   color:#BEBEBE;
  }
  .card2 {
   height: 10px;
   width: 20px;
   background-color: #FD6534;
   border-radius: 10px;
   position: absolute;
   left: 284px;
   top: 15px;
  }

  
.third-box {
   background-color: #F2F3F4;
   padding: 10px;
   position: absolute;
   left: 8px;
   top: 490px;
   margin-left: 90px;
   border-radius: 15px;
   display: inline-block;
   width: 300px;
   height: 20px;
 }
 .third-box:hover{
   box-shadow: rgba(99,99,99,0.2) 0px 2px 8px 0px;
   background-color:#ffffff;
 }
 .third-box-img {
    margin-bottom: -10px;
    width:  22px;
    position: absolute;
 }
 .third-box-text {
   position:absolute;
   left: 46px;
 }
  .blue {
   margin-bottom: -10px;
   width:  25px;
   margin-left: 159px;
   position: absolute;
   top: 7px;
  }
  .date3 {
   margin: 8px;
   position:absolute;
   left: 202px;
   top: 2px;
   color: #BEBEBE;
  }
  .card3 {
   height: 10px;
   width: 20px;
   background-color: #9ED095;
   border-radius: 10px;
   position: absolute;
   left: 282px;
   top: 15px;
  }

  .forth-box {
   background-color: #F2F3F4;
   padding: 10px;
   margin-left: 90px;
   border-radius: 15px;
   display: inline-block;
   width: 300px;
   position: absolute;
   top: 535px;
   height: 20px;
 }
 .forth-box:hover{
   box-shadow: rgba(99,99,99,0.2) 0px 2px 8px 0px;
   background-color:#ffffff;
 }
 .forth-box-img {
    margin-bottom: -10px;
    width:  22px;
    position:  absolute;
 }
  .forth-box-text {
   position:absolute;
   left: 46px;
  }
  .red {
   margin-bottom: -10px;
   width:  25px;
   margin-left: 159px;
   position:  absolute;
   top: 7px;
  }
  .date4 {
   margin: 8px;
   position: absolute;
   left: 203px;
   top:2px;
   color:  #BEBEBE;
}
   .card4 {
      height: 10px;
      width: 20px;
      background-color: #FFE4A0;
      border-radius: 10px;
      position: absolute;
      left: 282px;
      top: 15px;
     }
  

